<!-- Page content -->
<div class="w3-container">
  <p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid"">
    <div class="container">
      <h1>Agregar evidencia</h1>
      <% r = Recommendation.find(params[:recommendation_id])%>
      <h1>Área: <%=r.area.name%></h1>
      <br>
      <p>
        <strong>Responsable: <%=r.area.user.firstname%> <%=r.area.user.lastname%></strong>
      </p>
      <p>
      </p>
  </div>
</div>
</div>
<div class="container">


<div class="form-group" style="width: 80%">
      <%= form_with(model: @evidence, local: true) do |form| %>
      <% if @evidence.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

          <ul>
            <% @evidence.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
          <div>
            <%= label_tag(type: 'tag') do %>
              <i class="icon-ok icon-white"></i> Título de la evidencia
            <% end %>
              <%= form.text_field :title, class: 'form-control' %>
          </div>
          <br>
          <div>
            <%= label_tag(type: 'tag') do %>
              <i class="icon-ok icon-white"></i> Descripción
            <% end %>
              <%= form.text_field :description, class: 'form-control' %>
          </div>
          <br>
          <div>
             <%= label_tag(type: 'tag') do %>
              <i class="icon-ok icon-white"></i> Fecha
            <% end %>
             <%= form.date_field (:day) %>
          </div>
          <div class="field">
            <%= form.hidden_field :recommendation_id, :value => params[:recommendation_id] %>
          </div>
          <br>
          <br>
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver</button>'.html_safe, Recommendation.find(params[:recommendation_id]) %>
           <div class="input-group">
             <div class="input-group-prepend">
               <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
                 <i class="icon-ok icon-white"></i> Guardar evidencia
               <% end %>
             </div>
           </div>
         </div>

          <div>

          </div>
      <%end%>
      <br>
   </div>
 </div>
</div>
