<!-- Page content -->
<div class="w3-container">


<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid"">
    <div class="container">
      <h1>Agregar evidencia</h1>
      <% r = Recommendation.find(params[:recommendation_id])%>
      <h1>Área: <%=r.area.name%></h1>
      <br>
      <p>
        <strong>Responsable: <%=r.area.user.firstname%> <%=r.area.user.lastname%></strong>
      </p>
      <p>
      </p>
  </div>
</div>
</div>
<div class="container">

  <div class="form-group" style="width: 80%">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
            <h5 style= "display: inline;">Metas (Expandible)</h5>
            </a>
            
        </div>
        <div id="collapseOne" class="collapse" >
          <div class="card-body" id= "container_goals" >
                    <% @recommendation.goals.each do |goal| %>
                      <div id = "goal_<%= goal.id %>">
                        <% number = @recommendation.number + "." + (@recommendation.goals.find_index(goal) + 1).to_s %>
                        <b><h5 style="display:inline;"><%= number%>.</b>&nbsp<%=goal.title%></h5>
                        <% content = goal.actions.split("\n") %>
                        
                            <% i = 1 %>
                            <% content.each do |action| %>
                              <br><b>&nbsp;&nbsp;&nbsp;&nbsp;<%=number + "." +(i.to_s) + ". "%></b><%=action%>
                              <%i= i + 1%>
                            <%end%>
                            <br>&nbsp
                      </div>
                    <% end %>
          </div>
        </div>
    </div>
</div>






<div class="form-group" style="width: 80%">


      <%= form_with(model: @evidence, local: true) do |form| %>
      <% if @evidence.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

          <ul>
            <% @evidence.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
          <div>
            <%= label_tag(type: 'tag') do %>
              <i class="icon-ok icon-white"></i> Título de la evidencia <font color="red">   (Obligatorio)</font>
            <% end %>
              <%= form.text_field :title, required: true, class: 'form-control' %>
          </div>
          <br>
          <div>
            <%= label_tag(type: 'tag') do %>
              <i class="icon-ok icon-white"></i> Número de acción <font color="red">   (Obligatorio)</font>
            <% end %>
              <%= form.text_field :action, required: true, class: 'form-control' %>
          </div>
          <br>
          <div>
            <%= label_tag(type: 'tag') do %>
              <i class="icon-ok icon-white"></i> Descripción
            <% end %>
               <%= form.text_area(:description, cols: 5, rows: 10, class: 'form-control') %>
          </div>
          <br>
          <div>
             <%= label_tag(type: 'tag') do %>
              <i class="icon-ok icon-white"></i> Fecha <font color="red">   (Obligatorio)</font>
            <% end %>
             <%= form.date_field (:day), required: true %>
          </div>

          <div class="field">
            <%= form.hidden_field :recommendation_id, :value => params[:recommendation_id] %>
          </div>

          <div class="fields">
            <div id="evidence_docs">
              <div class="tile" style="cursor:default;">
                <div class="form-actions">
                  <%= link_to_add_file('', form, :evidencefiles, id: 'add_input_ref')%>
                </div>
                <%= form.fields_for :evidencefiles do |builder| %>
                <%= render 'evidencefile', f: builder %>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <br>

          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver</button>'.html_safe, Recommendation.find(params[:recommendation_id]) %>
           <div class="input-group">
             <div class="input-group-prepend">
                 <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
                   <i class="icon-ok icon-white"></i> Guardar evidencia
                 <% end %>
             </div>
           </div>
         </div>

      <%end%>
      <br>
   </div>
 </div>
</div>

<script type="text/javascript">
  function file_input_change(sel){
    $(sel).closest('div').hide();
    var reader = new FileReader();
    reader.onload = function (e) {
      var tile = $('#evidence_docs').find('.tile').last();
      if(sel.files[0].name.substr(sel.files[0].name.lastIndexOf('.')) == '.pdf'){
        tile.prepend('<%= image_tag "doc-icon.png" %>');
      } else {
        tile.prepend('<img src="' + e.target.result + '">');
      }
      tile.find('.remove_record')[0].style = 'visibility: visible;';
      $('#add_input_ref').click();
    };
    reader.readAsDataURL(sel.files[0]);
  }

  $(document).on('turbolinks:load', function(){

    $('form').on('click', '.remove_record', function(event){
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('.tile').hide();
      return event.preventDefault();
    });

    $('form').on('click', '.add_fields', function(event){
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $('#evidence_docs').append('<div class="tile">' + $(this).data('fields').replace(regexp, time) + "</div>");
      return event.preventDefault();
    });
  });
</script>
