<!-- Page content -->
<div class="w3-container">
   

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid"">
    <div class="container">
     <h1>Evidencia: <%= @evidence.title%></h1>
     <br>
     <p>
        <strong>Recomendación:</strong> <%=@evidence.recommendation.number%>. <%=@evidence.recommendation.name%>
     </p>
     <p>
        <strong>Área:</strong> <%=@evidence.recommendation.area.number%>. <%=@evidence.recommendation.area.name%>
     </p>
     <p>
        <strong>Responsable:</strong> <%=@evidence.recommendation.area.user.firstname%> <%=@evidence.recommendation.area.user.lastname%>
     </p>
     <p>
        <strong>Fecha:</strong> <%=@evidence.day%>
     </p>
  </div>
</div>
</div>
<div class="container">


<div class="form-group" style="width: 80%">
  <%if @evidence.description != "" %>
    <h4>Descripción</h4>
    <p>
      <%= @evidence.description %>
    </p>
  <%end%>

  <% @evidence.evidencefiles.each do |f|%>
  <p>
    <% if f.document.attachment then %>
    <span> <%= image_tag f.document %> </span>
    <% end %>
  </p>
  <% end %>
<br>


  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver a la recomendación</button>'.html_safe, @evidence.recommendation %>
     <div class="input-group-prepend">
       <%= link_to '<button type="button" class="btn btn-outline-primary">Editar evidencia</button>'.html_safe, edit_evidence_path(@evidence) %> <div class="input-group">

     </div>
   </div>
  </div>



</div>

 </div>
</div>
