<!-- Page content -->
<div class="w3-container">
   

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid"">
    <div class="container">
     <h1>Evidencia: <%= @evidence.title%></h1>
     <br>
     <p>
        <strong>Recomendación:</strong> <%=@evidence.recommendation.number%>. <%=@evidence.recommendation.name%>
     </p>
     <p>
        <strong>Área:</strong> <%=@evidence.recommendation.area.number%>. <%=@evidence.recommendation.area.name%>
     </p>
     <p>
        <strong>Responsable:</strong> <%=@evidence.recommendation.area.user.firstname%> <%=@evidence.recommendation.area.user.lastname%>
     </p>
     <p>
        <strong>Fecha:</strong> <%=@evidence.day.strftime("%d/%m/%Y")%>
     </p>
  </div>
</div>
</div>
<div class="container">

<div class="form-group" style="width: 80%">
  <% nums = @evidence.action.split(".")%>
  <% meta_num = nums[-2].to_i - 1%>
  <% accion_num = nums[-1].to_i - 1%>
  <% meta = @evidence.recommendation.goals[meta_num].title %>
  <% acciones = @evidence.recommendation.goals[meta_num].actions.split("\n") %>
  <strong>Meta:</strong> <%= meta %> 
  <br>
  <strong>Acción:</strong> <%= acciones[accion_num]%>
  <br>
  <strong>Número de acción:</strong> <%=@evidence.action%>
</div>

<div class="form-group" style="width: 80%">
  <%if @evidence.description != "" %>
    <h4>Descripción</h4>
    <%description_content = @evidence.description.split("\n")%>
      <%description_content.each do |paragraph|%>
        <%=paragraph%>
        <br/>
    <%end%>
  <%else%>
    <h4>(Sin descripción)</h4>
  <%end%>

  <div class="container" id="evidence_docs">
    <%= render partial: 'evidencefiles/evidencefile', collection: @evidence.evidencefiles, locals: {delete_icon: false} %>
  </div>

<br>


  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver a la recomendación</button>'.html_safe, @evidence.recommendation %>
     <div class="input-group-prepend">
        <% if (current_user.role == 0 || @evidence.recommendation.area.user == current_user) then %>
          <%= link_to '<button type="button" class="btn btn-outline-primary">Editar evidencia</button>'.html_safe, edit_evidence_path(@evidence) %> <div class="input-group">
        <% end %>
     </div>
   </div>
  </div>



</div>

 </div>
</div>
