
<!-- Page content -->
  


   <!-- Side bar -->
   <div class="w3-sidebar w3-bar-block w3-card w3-animate-right"  style="display:none;right:0;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"> <div onclick="w3_close()" style="opacity: 1" onmouseover = "this.style.opacity = '.5'" onmouseout = "this.style.opacity = '1'" href="#" role="button" aria-haspopup="true" aria-expanded="false" ><span class="fa fa-angle-double-right"></span> </button>
      <div class="container">
        <table class="table table-hover" id = "alerts_table">
          <col width="70%">
          <thead>
            <tr>
              <th><h5>Alertas<h5></th>
              <th></th>
              <th>
                <% if current_user.role == 0 %>
                <div data-toggle="modal" data-target="#myModal" style="opacity: 1" onmouseover = "this.style.opacity = '.5'" onmouseout = "this.style.opacity = '1'" href="#" role="button" aria-haspopup="true" aria-expanded="false" ><span class="fa fa-plus"></span>
                </div>
                <%end%>
                <%= link_to '<span class="fa fa-reorder"></span>'.html_safe, alerts_path %>
              </th>
            </tr>
          </thead>
          <tbody>
              <% alerts = Alert.all.order(expiration: :desc) %>
              <% i = 0 %>
              <% alerts.each do |a|%>
              <% i = i + 1 %>
                <% if (Date.parse(a.expiration.to_s) < Date.today) %>
                  <% i = i - 1 %>
                  <% break %>
                <% end %>
              <% end %>
              <% i.times do |j| %>
                <% alert = alerts[j] %>
                <% if alert.usersNO[current_user.id] != 0 %>
                  <%= render partial: "alerts/alert", locals: { alert: alert }%>
                <% end %>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>

 <div id="main">

   <!-- Navigation bar -->

 <div class="w3">
   <div style="margin-bottom: 5px;">
     <nav class="navbar navbar-light bg-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 15px;">
       <form class="form-inline my-2 my-lg-0" style="align:left">
         <a class="navbar-brand"><%= link_to 'GAPCO'.html_safe, root_path%></a>
       </form>
       <form class="form-inline my-2 my-lg-0" style="align:right">
         <div class="dropdown">
           <div style="opacity: 1" onmouseover = "this.style.opacity = '.5'" onmouseout = "this.style.opacity = '1'"  class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="fa fa-bell-o"></span></div>
           <div class="dropdown-menu">
             <a class="dropdown-item" href="#">Notificacion # 1</a>
             <a class="dropdown-item" href="#">Notificacion # 2</a>
             <a class="dropdown-item" href="#">Notificacion # 3</a>
             <a class="dropdown-item" href="#">Notificacion # 4</a>
           </div>
         </div>

         <div class="dropdown">
         <div style="opacity: 1; margin-right: 50px;" onmouseover = "this.style.opacity = '.5'" onmouseout = "this.style.opacity = '1'"  class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="fa fa-cogs"></span></div>
           <div class="dropdown-menu">
             <a class="dropdown-item"><%= link_to 'Ver usuarios', index_url %></a>
             <a class="dropdown-item" href="#"></a>
             <a class="dropdown-item" href="#"></a>
             <a class="dropdown-item" href="#"></a>
             <% if current_user.role == 0 %>
               <a class="dropdown-item"><%= link_to 'Crear cuenta nueva', :sign_up %></a>
               <a class="dropdown-item" href="#"></a>
               <a class="dropdown-item" href="#"></a>
               <a class="dropdown-item" href="#"></a>
             <%end%>
             <a class="dropdown-item"><%= link_to  "Editar mi cuenta", :edit_myaccount %></a>
             <a class="dropdown-item" href="#"></a>
             <a class="dropdown-item" href="#"></a>
             <a class="dropdown-item" href="#"></a>
             <a class="dropdown-item"><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></a>
           </div>
         </div>

         <button type="button" id="openNav" class="w3-button w3 w3-small" onclick="w3_open()">&#9776;</button>
       </form>
     </nav>
   </div>
 </div>

   <!-- Modal de creacion de alertas -->
  <div class="modal fade" id="myModal">
   <div class="modal-dialog">
     <div class="modal-content">

       <!-- Modal Header -->
       <div class="modal-header">
         <h4 class="modal-title">Crear alerta</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>

       <!-- Modal body -->
       <div class="modal-body">
        <%=render partial: '/alerts/form' %>
       </div>

      
       

     </div>
   </div>
  </div>
 </div>

 <script>
 function w3_open() {
   document.getElementById("main").style.marginRight = "15%";
   document.getElementById("mySidebar").style.width = "15%";
   document.getElementById("mySidebar").style.display = "block";
   document.getElementById("openNav").style.display = 'none';
 }
 // Falta añadir que solo se abra si hay alertas al principio
 w3_open()
 function w3_close() {
   document.getElementById("main").style.marginRight = "0%";
   document.getElementById("mySidebar").style.display = "none";
   document.getElementById("openNav").style.display = "inline-block";
 }
 </script>

 <div class="w3-container">

   <div class="container-fluid">
       <div class="jumbotron jumbotron-fluid">
       <div class="container">
           <h1>Editar mi cuenta </h1>
       </div>
   </div>
 </div>

 <div class="container">

   <div class="form-group" style="width: 70%">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
       <%= render "devise/shared/error_messages", resource: resource %>

       <div>
           <%= label_tag(type: 'tag') do %>
           <i class="icon-ok icon-white"></i> Nombre
           <% end %>
           <%= f.text_field :firstname, class: 'form-control' %>
       </div>

       <div>
           <%= label_tag(type: 'tag') do %>
           <i class="icon-ok icon-white"></i> Apellido
           <% end %>
           <%= f.text_field :lastname, class: 'form-control' %>
       </div>

       <div>
           <%= label_tag(type: 'tag') do %>
           <i class="icon-ok icon-white"></i> Correo electrónico
           <% end %>
           <%= f.email_field :email, class: 'form-control' %>
       </div>

       <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
         <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
       <% end %>

       <div>
           <%= label_tag(type: 'tag') do %>
           <i class="icon-ok icon-white"></i> Introduce una nueva contraseña <em>(Mínimo 6 caracteres)</em><br />
           <% end %>
           <%= f.password_field :password, class: 'form-control' %>
       </div>

       <div>
           <%= label_tag(type: 'tag') do %>
           <i class="icon-ok icon-white"></i> Confirmar contraseña nueva
           <% end %>
           <%= f.password_field :password_confirmation, class: 'form-control' %>
       </div>
       <br>
       <br>
       <br>
       <div>
           <%= label_tag(type: 'tag') do %>
           <i class="icon-ok icon-white"></i> Contraseña actual (Se necesita para confirmar los cambios)
           <% end %>
           <%= f.password_field :current_password, class: 'form-control' %>
       </div>

       <br>

       <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
         <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver</button>'.html_safe, :back %>
        <div class="input-group">
          <div class="input-group-prepend">
            <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
                <i class="icon-ok icon-white"></i> Guardar cambios
            <% end %>
          </div>
        </div>
      </div>

     <% end %>

   </div>
 </div>
 
