<div class="w3-container">

        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Crear nueva recomendación </h1>
            </div>
        </div>
</div>

<div class="container">



 <div class="form-group" style="width: 80%">
       <%= form_with(model: @recommendation, local: true) do |form| %>
           <div>
            <%= form.hidden_field :area_id, :value => params[:area_id] %>
           </div>
           <div>
             <% a = Area.find(params[:area_id])%>
             <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Número de la recomendación <font color="red">   (Obligatorio)</font>
             <% end %>
               <%= form.text_field :number, value: a.number.to_s + ".", class: 'form-control' %>
           </div>
           <br>
           <div >
             <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Nombre de la recomendación <font color="red">   (Obligatorio)</font>
             <% end %>
               <%= form.text_field :name, required: true, class: 'form-control' %>
           </div>
           <div>
             <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Fecha de inicio
             <% end %>
               <%= form.date_field :time_beg %>
               <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Fecha límite
             <% end %>
               <%= form.date_field :time_limit %>
           </div>
           <br>
           <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
             <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver al área</button>'.html_safe, Area.find(params[:area_id]) %>
            <div class="input-group">
              <div class="input-group-prepend">
                   <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
                     <i class="icon-ok icon-white"></i> Guardar recomendación
                   <% end %>
              </div>
            </div>
          </div>

       <%end%>
       <br>



    </div>
  </div>

    </div>
