<!-- Page content -->
 <div class="w3-container">
   <p id="notice"><%= notice %></p>

   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid"">
       <div class="container">
         <h1>Recomendación #<%=@recommendation.number%>: <%= @recommendation.name%></h1>
         <h2>Área: <%= @recommendation.area.name%> </h2>
         <br>
         <p>
           <strong>Responsable: </strong>
           <%= @recommendation.area.user.firstname%>
           <%= @recommendation.area.user.lastname%>
         </p>
     </div>
   </div>
   </div>


    <div class="container">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver al área</button>'.html_safe, @recommendation.area %>
       <div class="input-group">
         <div class="input-group-prepend">
           <% if (current_user == @recommendation.area.user || current_user.role == 0) then %>
            <%= link_to '<button type="button" class="btn btn-outline-primary">Editar Recomendación</button>'.html_safe, edit_recommendation_path(@recommendation) %>
           <%end%>
         </div>
       </div>
     </div>
    </div>
   <br>

   <div class="container">
     
     <div class="p-3 mb-2 bg-light text-dark">
     <div>
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#container_goals" aria-expanded="true" aria-controls="collapseOne">
       METAS
       </button>
         <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#mynewgoal">
            <span class="fa fa-plus">
        </button>
      </div>
      
      <div class="container in" id="container_goals">
        <%= render @recommendation.goals %>
      </div>
    </div>
  </div>

   <div class="container-fluid">
     <table class="table table-hover" style="width: 80%;" align="center">
       <thead>
         <tr>
           <th scope="col">
             <strong>Evidencias:</strong>
           </th>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col">
             <%= link_to '<span class="fa fa-plus"></span>'.html_safe, new_evidence_path(:recommendation_id => @recommendation.id) %>
           </th>
         </tr>
       </thead>
       <tbody>
         <% @recommendation.evidences.each do |evidence| %>
          <tr>
            <td> <%= evidence.day%> </td>
            <td> <%= evidence.title %> </td>
            <td><%= link_to '<span class="fa fa-eye"></span>'.html_safe, evidence%></td>
            <% if (current_user == @recommendation.area.user || current_user.role == 0) then %>
            <td><%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_evidence_path(evidence)%></td>
            <td><%= link_to '<span class="fa fa-times"></span>'.html_safe, evidence, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la evidencia de ' + evidence.title + '?'  }%></td>
            <% else %>
            <td></td>
            <td></td>
            <% end %>
          </tr>
         <% end %>
       </tbody>
     </table>
   </div>


  </div>



<!-- Modal -->


<div class="modal fade" id="mynewgoal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Crear Meta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%=render partial: 'goals/form' %>
        
      </div>
      
    </div>
  </div>
</div>