<!-- Page content -->
 <div class="w3-container">
  <p id="notice"><%= notice %></p>

   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid"">
       <div class="container">
         <h1>Recomendación: <%= @recommendation.name%></h1>
         <br>
         <p>
           <strong> Área: </strong>
           <%= @recommendation.area.name%>
         </p>
         <p>
           <strong>Responsable:</strong>
           <%= @recommendation.area.user.firstname%>
           <%= @recommendation.area.user.lastname%>
         </p>
       </div>
      </div>
    </div>


    <div class="container">
     <%= link_to '<button type="button" class="btn btn-outline-secondary">Editar Recomendación </button>'.html_safe, edit_recommendation_path(@recommendation) %> |
     <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver</button>'.html_safe, areas_path(@recommendation.area_id) %>
    </div>
   



  <p id="notice"><%= notice %></p>

</div>
