<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">

</head>
<body>

    <h1 style="sans-serif; font-family:arial; font-size:27px" align="center">EVIDENCIA</h1>

    <div style="width:100%;" >
        <div>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;"><b>TÍTULO: </b> <%=@evidencia.title%></pre>
        </div>
        <br>

        <%numero_evidencia_separado = @evidencia.action.split(".")%>
        <%num_de_rec = numero_evidencia_separado[0]+"."+numero_evidencia_separado[1]+"."+numero_evidencia_separado[2]%>
        <%num_de_meta = numero_evidencia_separado[3].to_i%>
        <%num_de_accion = numero_evidencia_separado[4].to_i%>

        <%recomendacion = nil%>
        <%@reported_area.recommendations.each do |recom|%>
            <%if recom.number.include? num_de_rec%>
                <%recomendacion = recom%>
                <%break%>
            <%end%>
        <%end%>

        <%@accion = recomendacion.goals[num_de_meta-1].actions.split("\n")[num_de_accion-1]%>

        <br>
        <div>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;"><b>ACCIÓN:</b> <br> <%=@evidencia.action%>. <%=@accion%></pre>
        </div>
        <br>
        
        <div>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;">
                <%description_content = @evidencia.description.split("\n")%>
                <%if description_content.length > 0%>
                    <b>DESCRIPCIÓN:</b>
                    <br/>
                    <%description_content.each do |paragraph|%>
                        <%=paragraph%>
                        <br/>
                    <%end%>
                <%else%>
                   <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><b>(SIN DESCRIPCIÓN)</b> </pre>
                <%end%>
            </pre>
        </div>

        <br><br>

        <div>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><b>Fecha:</b> <%=@evidencia.day.strftime("%d/%m/%y")%></pre>

        </div>
        <br><br><br>

        <%if @evidencia.evidencefiles.length == 0%>
            <div>
                <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-size:20px; font-family:arial; text-align:center;"><u><b>(NO EXISTEN ARCHIVOS CARGADOS EN ESTA EVIDENCIA)</b></u></pre>
            </div>
        <%end%>

        <%@evidencia.evidencefiles.each do |file|%>
            <%if file.document.attachment%>
                <%if file.document.filename.to_s.exclude? "pdf" then%>

                    <img style="display:block; margin-left:auto; margin-right:auto; width:100%" src="<%=ActiveStorage::Blob.service.send(:path_for, file.document.key)%>", width="auto", height="auto">
                    <br>

                <%end%>
            <%end%>
        <%end%>

    </div>





</body>
</html>
