

 <!-- Page content -->
 <div class="w3-container">

   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid"">
       <div class="container">
         <h1>Bienvenido al sistema de GAPCO</h1>
         <p>Gestión de Acreditación del Programa CONAIC</p>
         <br>
         <p class="notice"><%= notice %></p>
     </div>
   </div>
   </div>


   <div class="container-fluid">
     <table class="table table-hover" style="width: 80%;" align="center">
       <thead>
         <tr>
           <th scope="col">
             Categorías CONAIC para revisión y seguimiento
             <p style="opacity: 0.5;">Responsable de area</p>
           </th>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col">
             <%= link_to '<span class="fa fa-plus"></span>'.html_safe, new_area_path  %>
           </th>
         </tr>
       </thead>
       <tbody>
         <% @areas.each do |area| %>
           <tr>
             <td><%= area.name %></td>
             <td><%= link_to '<span class="fa fa-eye"></span>'.html_safe, area %></td>
             <td><%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_area_path(area) %></td>
             <td><%= link_to '<span class="fa fa-times"></span>'.html_safe, area, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el área de ' + area.name + '?'  } %></td>
           </tr>
         <% end %>
       </tbody>
     </table>
   </div>

   </div>
   
