<h1>Nueva Ãrea</h1>

<%= form_with(model: @area, local: true) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<%end%>

<%= link_to 'Volver', areas_path %>
