
 <!-- Page content -->
 <div class="w3-container">
    

   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid"">
       <div class="container">
         <h1>Nueva Área</h1>
         <p>Gestión de Acreditación del Programa CONAIC</p>
       </div>
    </div>
   </div>
  
  <div class="container">
   
   

   <div class="form-group" style="width: 80%">
       <%= form_with(model: @area, local: true) do |form| %>
           <div>
             <% a = Area.all.length%>
             <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Número del área <font color="red">   (Obligatorio)</font>
             <% end %>
               <%= form.text_field :number, value: (a + 1).to_s, class: 'form-control' %>
           </div>
           <br>
           <div>
             <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Nombre del área <font color="red">   (Obligatorio)</font>
             <% end %>
               <%= form.text_field :name, class: 'form-control' %>
          </div>
          <br>
           <div>
             <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Descripción del área
             <% end %>
               <%= form.text_area(:description, class: 'form-control', size:"10x10") %>
           </div>
           <br>
           <div >
             <%= label_tag(type: 'tag') do %>
               <i class="icon-ok icon-white"></i> Responsable del área <font color="red">   (Obligatorio)</font>
             <% end %>
             <%= form.select :user_id, User.all.collect { |u| [u.firstname.to_s+" "+u.lastname.to_s, u.id] }, class:'form-control'%>
           </div>
           <br>


           <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
             <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver</button>'.html_safe, areas_path %>
            <div class="input-group">
              <div class="input-group-prepend">
                   <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
                     <i class="icon-ok icon-white"></i> Guardar área
                   <% end %>
              </div>
            </div>
          </div>
       <%end%>
       <br>
    </div>
  </div>
</div>
