<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    
</head>
<style>
    .module {
        position:absolute;
        width: 100px;
        height:12.5 in;
        border-left-style: solid;
        -webkit-border-image: 
        -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 84, 204, 1)), to(rgba(0, 84, 204, .4))) 1 5%;
        
    }

    .module2{
        position:absolute;
        margin-left:100px;
        width: 20px;
        height:12.5 in;
        border-left-style: solid;
        -webkit-border-image: 
        -webkit-gradient(linear, 0 0, 0 100%, from(rgba(242, 202, 4, 1)), to(rgba(242, 202, 4, .4))) 1 5%;
        
    }
</style>


<body>
    <div align="left" class="module">
    </div>
    <div align="left" class="module2">
    </div>

    
   <div style="margin-left:300px">

    <img style="margin-left:77px" src="<%=Rails.root.join('logos', 'logounison.png')%>" width="300px" height="300px">
    <h1 style="margin-left:-144px; font-size:57px;">UNIVERSIDAD DE SONORA</h1>
    <h2 style="margin-left:-90px; font-size:45px;">UNIDAD REGIONAL CENTRO</h2>
    
    <br>
   <p style="margin-left:-139px; text-align:center; font-family:arial; font-size:30px">LICENCIATURA EN CIENCIAS DE LA COMPUTACIÓN</p>
    <br>
   <p style="margin-left:-160px; text-align:center; font-family:arial; font-size:30px">INFORME DE SEGUIMIENTO PARA LAS RECOMENDACIONES DEL ÁREA DE <%=@reported_area.name.upcase%></b></p>
    </div>
    <br><br><br>
    <div>
        <div style="float:left; margin-left:145px; width:430px; height:20%">
            <br><br><br><br><br>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20; text-align:justify;"><b>RESPONSABLE</b>: <%=User.find(@reported_area.user_id).firstname%> <%=User.find(@reported_area.user_id).lastname%></pre>
            <pre style="font-family:arial; font-size:20"><b>PERÍODO:</b> <%=@reported_area.report_date_1.strftime("%d/%m/%y")%>  -  <%=@reported_area.report_date_2.strftime("%d/%m/%y")%></pre>
        </div>
        <div>
            <img style="margin-left:75px" src="<%=Rails.root.join('logos', 'logolcc.jpg')%>" width="28.5%" height="auto">
        </div>
    </div>  
    
    <div style="display:block; clear:both; page-break-after:always;">
        
    </div>

    <div>
      <div>
        <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:27px; text-align:center;"><b>Área</b></pre>
      </div>

      <div>
        <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><b><%=@reported_area.number%>.</b>  <%=@reported_area.name%></pre>
      </div>
       
       <%description_content = @reported_area.description.split("\n")%>
       <%if description_content.length > 0%>
          <div>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:27px; text-align:center;"><b>Descripción</b></pre>
          </div>

          <div>
              <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;">
                
                <%description_content.each do |paragraph|%>
                  <%=paragraph%>
                  <br/>
              <%end%>
              </pre>
          </div>
        <%else%>
            <div>
               <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><b>(SIN DESCRIPCIÓN)</b></pre>
          </div>
        <%end%>

        <br>

      <%if @reported_area.recommendations.length == 0%>
        <br><br><br><br><br>
        <div>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><u><b>(NO EXISTEN RECOMENDACIONES EN ESTA ÁREA)</b></u></pre>
        </div>
      <%else%>
        <br><br><br><br>

        <h1 style="sans-serif; font-family:arial; font-size:27px"; align="center">Recomendación</h1>
    
         <div style="width:100%;"> 
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;"><b><%=@recomendacion.number%></b> <%=@recomendacion.name%></pre>
            <%i = 1%>
            <br>
            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><b>PLAZO:</b> <%=@recomendacion.time_beg.strftime("%d/%m/%y")%>  -  <%=@recomendacion.time_limit.strftime("%d/%m/%y")%></pre>

            <br><br>

            <%if @recomendacion.goals.length == 0%>
              
              <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-size:20px; font-family:arial; text-align:center;"><u><b>(NO EXISTEN METAS EN ESTA RECOMENDACIÓN)</b></u></pre>
              
            <%else%>
              <h1 style="sans-serif; font-size:27px; font-family:arial;"  align="center">Metas y acciones</h1>
            <%end%>
            <%@recomendacion.goals.each do |goal|%>
              <%j=1%>
              <div style="margin-left:60px; width:auto;">
                <%goal_index=@recomendacion.number.to_s+"."+i.to_s+"."%>
                <% content = goal.actions.split("\n") %>
                <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;"><b><%=goal_index%></b> <%=goal.title%></pre>
                <div style="margin-left:60px; width:auto; ">

                    <%if content.length == 0%>
                        <div>
                            <pre style="width:100%; margin-left:-60px; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><u><b>(NO EXISTEN ACCIONES EN ESTA META)</b></u></pre>
                        </div>
                    <%end%>
                    <% content.each do |action| %>
                            <%action_index = goal_index+j.to_s+"."%>
                            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;"><b><%=action_index%></b> <%=action%></pre>
                            <%j+=1%>
                    <%end%>
                </div>
                <br><br>
                <%i +=1%>
              </div>
            <%end%>

            <%comparador = @hay_evidencias.to_s%>
            <%if comparador == "false" then%>
                <div>
                    <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-size:20px; font-family:arial; text-align:center;"><u><b>(NO EXISTEN EVIDENCIAS REPORTADAS EN EL PERÍODO ESTABLECIDO)</b></u></pre>
                </div>
            <%else%>
              <br><br>
              <h1 style="sans-serif; font-family:arial; font-size:27px" align="center">Evidencia</h1>
              <div style="width:100%;" >
                  <div>
                      <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;"><b>TÍTULO: </b> <%=@evidencia.title%></pre>
                  </div>
                  <br>

                  <%numero_evidencia_separado = @evidencia.action.split(".")%>
                  <%num_de_rec = numero_evidencia_separado[0]+"."+numero_evidencia_separado[1]+"."+numero_evidencia_separado[2]%>
                  <%num_de_meta = numero_evidencia_separado[3].to_i%>
                  <%num_de_accion = numero_evidencia_separado[4].to_i%>
                  <%puts "SE BUSCARÁ LA RECOMENDACIÓN NÚMERO: "+num_de_rec.to_s%>
                  <%puts "Numero de recomendacion: "+num_de_rec.to_s%>
                  <%puts "Numero de meta: "+num_de_meta.to_s%>
                  <%puts "Numero de acción: "+num_de_accion.to_s%>

                  <%recomendacion = nil%>
                  <%@reported_area.recommendations.each do |recom|%>
                      <%if recom.number.include? num_de_rec%>
                          <%recomendacion = recom%>
                          <%puts "SE ENCONTRÓ LA RECOMENDACIÓN:"+num_de_rec%>
                          <%break%>
                      <%end%>
                  <%end%>

                  <%@accion = recomendacion.goals[num_de_meta-1].actions.split("\n")[num_de_accion-1]%>
                  

                  <div>
                      <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;"><b>ACCIÓN:</b> <br> <%=@evidencia.action%>. <%=@accion%></pre>
                  </div>
                  <br>
                  
                  <div>
                      <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:justify;">
                          <%description_content = @evidencia.description.split("\n")%>
                          <%if description_content.length > 0%>
                              <b>Descripción</b>
                              <br/>
                              <%description_content.each do |paragraph|%>
                                  <%=paragraph%>
                                  <br/>
                              <%end%>
                          <%else%>
                            <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:15px; text-align:center;"><b>(SIN DESCRIPCIÓN)</b> </pre>
                          <%end%>
                      </pre>
                  </div>

                  <br><br>

                  <div>
                      <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-family:arial; font-size:20px; text-align:center;"><b>Fecha:</b> <%=@evidencia.day.strftime("%d/%m/%y")%></pre>

                  </div>
                  <br><br><br>

                  <%if @evidencia.evidencefiles.length == 0%>
                      <div>
                          <pre style="width:100%; overflow:hidden; word-break:normal; white-space:normal; font-size:20px; font-family:arial; text-align:center;"><u><b>(NO EXISTEN ARCHIVOS CARGADOS EN ESTA EVIDENCIA)</b></u></pre>
                      </div>
                  <%end%>

                  <%@evidencia.evidencefiles.each do |file|%>
                      <%if file.document.attachment%>
                          <%if file.document.filename.to_s.exclude? "pdf" then%>

                              <img style="display:block; margin-left:auto; margin-right:auto; width:100%" src="<%=ActiveStorage::Blob.service.send(:path_for, file.document.key)%>", width="auto", height="auto">
                              <br>

                          <%end%>
                      <%end%>
                  <%end%>

              </div>
            <%end%>
            

          </div>        
        <br/><br/><br/>
      <%end%>
      
    </div>

</body>
</html>