 <!-- Page content -->
 <div class="w3-container">
   <p id="notice"><%= notice %></p>

   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid">
       <div class="container">
         <h1>Área: <%= @area.name%></h1>
         <br>
         <p>
           <strong>Responsable:</strong>
           <%= @area.user.firstname%>
           <%= @area.user.lastname%>
         </p>
     </div>
   </div>
   </div>


   <div class="container">

     <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
       <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver a áreas</button>'.html_safe, root_path %>
      <div class="input-group">
        <div class="input-group-prepend">
          <% if (current_user.role == 0) then %>
          <%= link_to '<button align="right" type="button" class="btn btn-outline-primary">Editar Área</button>'.html_safe, edit_area_path(@area) %>
          <%end%>
        </div>
      </div>
    </div>

   </div>
   <br>
   <div class="container-fluid">
     <table class="table table-hover" style="width: 80%;" align="center">
       <thead>
         <tr>
           <th scope="col">
             <strong>Recomendaciones:</strong>
           </th>
           <th scope="col"></th>
           <th scope="col"></th>
           <th scope="col"></th>
           <% if (current_user == @area.user || current_user.role == 0) then %>
              <th scope="col">
                <%= link_to '<span class="fa fa-plus"></span>'.html_safe, new_recommendation_path(:area_id => @area.id) %>
                <!-- <%= link_to '<span class="fa fa-plus"></span>'.html_safe, new_recommendation_path(:recommendation => { :area_id => @area.id })  %> -->
              </th>
            <%else%>
              <th></th>
            <%end%>
         </tr>
       </thead>
       <tbody>
         <% @area.recommendations.each do |r| %>
           <tr>
              <td><%= link_to r.number, r %> </td>
              <td><%= link_to r.name, r %></td>
              <td><%= link_to '<span class="fa fa-eye"></span>'.html_safe, r %></td>
              <% if (current_user == @area.user || current_user.role == 0) then %>
              <td><%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_recommendation_path(r) %></td>
              <td><%= link_to '<span class="fa fa-times"></span>'.html_safe, r, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la recomendación de ' + r.name + '?'  } %></td>
              <%else%>
              <td></td>
              <td></td>
              <%end%>
           </tr>
         <% end %>
       </tbody>
     </table>
   </div>


   </div>
