
 <!-- Page content -->
 <div class="w3-container">
   <p id="notice"><%= notice %></p>

   <div class="container-fluid">
     <div class="jumbotron jumbotron-fluid"">
       <div class="container">
         <p>
           <strong>Name:</strong>
           <%= @area.name %>
           <%= @area.user.email %>
         </p>
     </div>
   </div>
   </div>


   <div class="container-fluid">


     <%= link_to '<button type="button" class="btn btn-outline-secondary">Editar</button>'.html_safe, edit_area_path(@area) %> |
     <%= link_to '<button type="button" class="btn btn-outline-secondary">Volver</button>'.html_safe, areas_path %>
   </div>

   </div>
