<% if evidencefile.document.attachment then %>
<div class="tile selectable-tile">
  <a title="<%=evidencefile.document.filename.to_s%>" href="<%= rails_blob_path(evidencefile.document, disposition: "preview") %>" target="_blank">
    <% if evidencefile.document.filename.to_s.end_with? '.pdf'%>
    <%= image_tag "doc-icon.png" %>
    <% else %>
    <%= image_tag evidencefile.document %>
    <% end %>
  </a>
  <div class="img-overlay"><b><%=evidencefile.document.filename.to_s%></b></div>
  <% if delete_icon %>
  <%= link_to '<i style="position: absolute;top: 0px; right: 0px;" class="fa fa-times"></i>'.html_safe, evidencefile, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el archivo \''+evidencefile.document.filename.to_s+'\'?', remote: true }, class: "delete_file" %>
  <% end %>
</div>
<% end %>
