<%= form_with(model: @goal, remote: true) do |form| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% @goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :title%>Meta: <font color="red">   (Campo obligatorio)</font> 
    <%= form.text_area :title, class:"form-control goal_title", :required => true ,size: "30x4" %>
  </div>
  <br>
  <div class="field">
    <% form.label :actions %> Acciones: (Separar las acciones con la tecla ENTER)
    <%= form.text_area :actions, class:"form-control goal_actions", size: "30x8"%>
  </div>

  <div class="field" style="display:none">
    <%= form.label :recommendation_id %> <br>
    <%= form.text_field :recommendation_id %>
    
  </div>
  

  <div class="actions">
    <br>
    <%= form.submit "Crear", class: "btn btn-primary"%>
  </div>
<% end %>
