 <!DOCTYPE html>
 <html>
   <head>
     <title>GAPCO</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     <%= stylesheet_link_tag "evidences" %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <head>
    <title>GAPCO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
 <body>

   <!-- Side bar -->
   <div class="w3-sidebar w3-bar-block w3-card w3-animate-right"  style="display:none;right:0;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"> <div onclick="w3_close()" style="opacity: 1" onmouseover = "this.style.opacity = '.5'" onmouseout = "this.style.opacity = '1'" href="#" role="button" aria-haspopup="true" aria-expanded="false" ><span class="fa fa-angle-double-right"></span> </button>
      <div class="container">
        <table class="table table-hover" id = "alerts_table">
          <col width="70%">
          <thead>
            <tr>
              <th><h5>Alertas<h5></th>
              <th></th>
              <th>
                <% if current_user.role == 0 %>
                <div data-toggle="modal" data-target="#myModal" style="opacity: 1" onmouseover = "this.style.opacity = '.5'" onmouseout = "this.style.opacity = '1'" href="#" role="button" aria-haspopup="true" aria-expanded="false" ><span class="fa fa-plus"></span>
                </div>
                <%end%>
                <%= link_to '<span class="fa fa-reorder"></span>'.html_safe, alerts_path %>
              </th>
            </tr>
          </thead>
          <tbody>
              <% alerts = Alert.all.order(expiration: :desc) %>
              <% i = 0 %>
              <% alerts.each do |a|%>
              <% i = i + 1 %>
                <% if (Date.parse(a.expiration.to_s) < Date.today) %>
                  <% i = i - 1 %>
                  <% break %>
                <% end %>
              <% end %>
              <% i.times do |j| %>
                <% alert = alerts[j] %>
                <% if alert.usersNO[current_user.id] != 0 %>
                  <%= render alert %>
                <% end %>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>

 <div id="main">

   <!-- Navigation bar -->

 <div class="w3">
   <div style="margin-bottom: 5px;">
     <nav class="navbar navbar-light bg-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 15px;">
       <form class="form-inline my-2 my-lg-0" style="align:left">
         <a class="navbar-brand"><%= link_to 'GAPCO'.html_safe, root_path%></a>
       </form>
       <form class="form-inline my-2 my-lg-0" style="align:right">

         <div class="dropdown" style="margin-right: 50px;" style="text-align: center;">
           <button class="btn btn btn-outline-secundary" dropdown-toggle type="button" data-toggle="dropdown"> MIS ÁREAS
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
              <% current_user.areas.each do |area| %>
              <div class="dropdown-item"><%= link_to area.name, area %></div>
              <% end %>
             </ul>
           </div>
         <div class="dropdown" style="margin-right:50px;" style="text-align: center;">
           <button class="btn btn btn-outline-secundary" dropdown-toggle type="button" data-toggle="dropdown"> MIS RECOMENDACIONES
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
              <% current_user.areas.each do |area| %>
               <li class="dropdown-header"><%= area.name %></li>
                 <% area.recommendations.each do |recommendation| %>
                 <div class="dropdown-item" style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;" ><%= link_to recommendation.name, recommendation %></div>
                 <% end %>
              <% end %>
             </ul>
           </div>


         <a id='demo'><font <%if current_user.notifications.unread.length>0 then%>color="red"<%end%>> <%= current_user.notifications.unread.length %></font> </a>
         <div class="nav-item btn-group" data-behavior="notifications">
           <div href='' style="opacity: 1" onmouseover = "this.style.opacity = .5" onmouseout = "this.style.opacity = 1"  class="nav-link" id="notificationsDropdown" role="button" data-toggle="dropdown"><a></a> <span class="fa fa-bell-o"></span></div>
         <div class="dropdown">

           <div class="dropdown-menu dropdown-menu-right">
           <% current_user.notifications.last(5).reverse.each do |notification| %>
                 <div class="dropdown-item">
                 <%= notification.actor.firstname %>
                 <% if notification.notifiable then %>
                  <%= link_to notification.action, notification.notifiable %>
                 <% else %>
                 <%= notification.action %>
                 <% end %>
                 <div style="align: right">
                   <%= notification.created_at.strftime("%d - %b - %y -- %T") %>
                 </div>
               </div>
             <% end %>
             <div class="dropdown-item" style="margin-bottom: 10px; text-align: center;"><%= link_to 'Ver notificaciones', notifications_show_url %> <% if current_user.notifications.unread.length > 5 then %> (<%= current_user.notifications.unread.length - 5 %> nuevas) <%end%></div>
            </div>
           </div>
         </div>


         <div class="dropdown">
           <div style="opacity: 1; margin-right: 50px;" onmouseover = "this.style.opacity = '.5'" onmouseout = "this.style.opacity = '1'"  class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><%= current_user.firstname %><span style="margin-left: 5px" class="fa fa-user-o"></span></div><div class="dropdown-menu dropdown-menu-right">
             <div class="dropdown-item" style="margin-bottom: 10px; text-align: center;" ><%= link_to 'Ver usuarios', index_url %></div>
             <% if current_user.role == 0 %>
               <div class="dropdown-item" style="margin-bottom:10px; text-align: center;"><%= link_to 'Crear cuenta nueva', :sign_up %></div>
             <%end%>
             <div class="dropdown-item" style="margin-bottom: 10px; text-align: center;"><%= link_to  "Editar mi cuenta", :edit_myaccount %></div>
             <div class="dropdown-item" style="margin-bottom: 10px; text-align: center;"><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></div>
           </div>
         </div>

         <button type="button" id="openNav" class="w3-button w3 w3-small" onclick="w3_open()">&#9776;</button>
       </form>
     </nav>
   </div>
 </div>

 <!-- Page content -->
  <p class="notice"><%= notice %></p>

  <%= yield %>

   <!-- Modal de creacion de alertas -->
  <div class="modal fade" id="myModal">
   <div class="modal-dialog">
     <div class="modal-content">

       <!-- Modal Header -->
       <div class="modal-header">
         <h4 class="modal-title">Crear alerta</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>

       <!-- Modal body -->
       <div class="modal-body">
        <%=render partial: 'alerts/form' %>
       </div>
     </div>
   </div>
  </div>
 </div>

 <script>
   function w3_open() {
     document.getElementById("main").style.marginRight = "15%";
     document.getElementById("mySidebar").style.width = "15%";
     document.getElementById("mySidebar").style.display = "block";
     document.getElementById("openNav").style.display = 'none';
   }
   // Falta añadir que solo se abra si hay alertas al principio
   w3_open()
   function w3_close() {
     document.getElementById("main").style.marginRight = "0%";
     document.getElementById("mySidebar").style.display = "none";
     document.getElementById("openNav").style.display = "inline-block";
   }
 </script>

 <script>
   $("#notificationsDropdown").click(function() {
     $.get("<%=mark_as_read_notifications_path%>",function(){
       document.getElementById("demo").color = "black";
       document.getElementById("demo").innerHTML = 0;
     });
   });

 </script>

 </body>
 </html>
